<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>MegaTalk Flask</title>

		<link rel="stylesheet" href="css/reset.css">
		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/custom.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/monokai.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<script src="js/fontawesome-5.10.2.all.js"></script>
	</head>
	<body>
		<div class="reveal convex">
			<div class="slides">
				<section>
					<h3>Worum geht es heute?</h3>
					<section>
						<span class="fragment fa-10x fa-fw">🍕</span>
					</section>
					<section>
						Erstellung einer Website und API für
						<h1>"MegaPizza"</h1>
						mit dem <em>Python</em>-Framework <strong>Flask</strong>
          </section>
				</section>
				<section>
					<h3>MegaTalk <em>Flask</em></h3>
					<section>
						<p>Leichtgewichtige Implementierung einer Web-Anwendung oder einer API in <em>Python</em> mit <em>Flask</em></p>
						<p>MegaTalk von Martin Schorfmann<br /> am <time datetime="2019-10-24 16:00">24. Oktober 2019</time></p>
					</section>
					<section>
						<h2>Inhalt</h2>
						<ol>
							<li>Was ist Flask?</li>
							<li>Hello World</li>
							<li>Templates</li>
							<li>REST-API</li>
						</ol>
					</section>
				</section>
				<section>
					<h3>Überblick zu Flask</h3>
					<section>
						<h2>Allgemein</h2>
						<ul>
							<li>leichtgewichtiges Framework für Webanwendungen</li>
							<li>schneller und einfacher Start möglich</li>
							<li>dabei skalierbar</li>
							<li>Kombiniert die Bibliotheken <em>Werkzeug</em> (Webanwendungen) und <em>Jinja</em> (Templates)
							</li>
						</ul>
					</section>
					<section>
						<h2>Philosophie</h2>
						<ul>
							<li>Flask bietet nur Vorschläge oder Erweiterungen an</li>
							<li>Es werden keine Abhängigkeiten oder ein Projekt-Aufbau aufgezwungen</li>
							<li>Wahl der verwendeten Bibliotheken obliegt dem Entwickler</li>
						</ul>
          </section>
          <section>
            <img src="images/flask-logo.png" width="1000px"/>
          </section>
				</section>
				<section>
					<h3>Hello World</h3>
					<section>
						<h4>Python-Importe</h4>
						<pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
							from flask import Flask
						</code></pre>

						<h4>Python-Code</h4>
						<pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
							APP = Flask(__name__)

							@APP.route("/hello")
							def hello_world():
							    return "Hello, 🍕!"
						</code></pre>
					</section>
					<section>
						<blockquote>
							<div><span class="fas fa-link fa-fw"></span><code>http://localhost:5000/hello</code></div>
            </blockquote>
            <iframe data-src="http://localhost:5000/hello"></iframe>
					</section>
        </section>
        <section>
          <h3>Hello World mit HTML</h3>
          <section>
            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-line-numbers>
              # [...]

              @APP.route("/hello_html")
              def hello_world_html():
                  return "&lt;h1&gt;Hello, 🍕!&lt;/h1&gt;&lt;hr /&gt;"
            </code></pre>
          </section>
          <section>
            <blockquote>
              <span class="fas fa-link fa-fw"></span><code>http://localhost:5000/hello_html</code>
            </blockquote>
            <iframe data-src="http://localhost:5000/hello_html"></iframe>
          </section>
        </section>
        <section>
          <h3>Templates</h3>
          <section>
            <h4>Ausgangspunkt Vererbung</h4>
            <span class="fas fa-file-code fa-fw"></span> <code>base.html</code>
            <pre><code class="hljs language-html" data-trim data-line-numbers>
              &lt;!doctype html&gt;
              &lt;html&gt;
              &lt;head&gt;
                <!-- [...] -->
                &lt;title&gt;MegaPizza&lt;/title&gt;
              &lt;/head&gt;
              &lt;body&gt;
                &lt;div class="container"&gt;
                  &lt;h2>{{ heading }}&lt;/h2&gt;

                  {% block content %}
                  {% endblock content %}
                &lt;/div&gt;
                <!-- [...] -->
              &lt;/body&gt;
              &lt;/html&gt;
            </code></pre>
          </section>
          <section>
            <span class="fas fa-file-code fa-fw"></span> <code>index.html</code>
            <pre><code class="hljs language-html" data-trim data-line-numbers>
              {% extends "base.html" %}

              {% set heading = "Willkommen!" %}

              {% block content %}
                <em>MegaPizza</em> ist eine Pizzeria, ...
              {% endblock content %}
            </code></pre>
          </section>
          <section>
            <h4>Python-Importe</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              from flask import render_template
            </code></pre>

            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              @APP.route("/")
              def index_page():
                  return render_template("index.html")
            </code></pre>
          </section>
          <section>
            <blockquote>
              <div><span class="fas fa-link fa-fw"></span><code>http://localhost:5000/</code></div>
            </blockquote>
            <iframe data-src="http://localhost:5000/"></iframe>
          </section>
          <section>
            <blockquote>
              Schon besser als einfach nur statische Seiten...<br />
              <span class="fas fa-comment-dots fa-fw fa-5x"></span><br />
              Aber wie füge ich Variablen in das Template ein?
            </blockquote>
          </section>
        </section>
        <section>
          <h3>Variablen</h3>
          <section>
            <span class="fas fa-file-code fa-fw"></span> <code>contact.html</code>
            <pre><code class="hljs language-html" data-trim data-line-numbers>
              {% extends "base.html" %}

              {% set heading = "Kontakt" %}

              {% block content %}
              <dl>
                <dt>Inhaber</dt>     <dd>{{ owner }}</dd>
                <dt>Telefon-Nr.</dt> <dd>{{ phone_number }}</dd>
                <dt>Ort</dt>         <dd>{{ place }}</dd>
              </dl>
              {% endblock content %}
            </code></pre>
          </section>
          <section>
            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              @APP.route("/contact")
              def contact_page():
                  return render_template(
                      "contact.html",
                      owner="P. Izza",
                      phone_number="+49 421 1234567",
                      place="Bremen"
                  )
            </code></pre>
          </section>
          <section>
            <blockquote>
              <div><span class="fas fa-link fa-fw"></span><code>http://localhost:5000/contact</code></div>
            </blockquote>
            <iframe data-src="http://localhost:5000/contact"></iframe>
          </section>
        </section>
        <section>
          <h3>Bedingungen & Schleifen</h3>
          <section>
            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              def get_pizza_menu():
                  return [
                      {
                          "name": "Pizza Salami",
                          "ingredients": [
                              "Tomatensauce",
                              "Käse",
                              "Salami"
                          ],
                          "available": True
                      },
                      {
                          "name": "Pizza Hawaii",
                          "ingredients": [
                              "Tomatensauce",
                              "Käse",
                              "Schinken",
                              "Ananas"
                          ],
                          "available": True
                      },
                      {
                          "name": "Pizza Caprese",
                          "ingredients": [
                              "Tomatensauce",
                              "Tomatenscheiben",
                              "Mozzarella",
                              "Basilikum"
                          ],
                          "available": False
                      },
                      {
                          "name": "Pizza Chicken Curry",
                          "ingredients": [
                              "Curry",
                              "Hähnchenstücke",
                              "Ananas"
                          ],
                          "available": False
                      },
                  ]
            </code></pre>
          </section>
          <section>
            <span class="fas fa-file-code fa-fw"></span> <code>menu.html</code>
            <pre><code class="hljs language-html" data-trim data-line-numbers>
              {% extends "base.html" %}

              {% block content %}
                <ul class="list-group">
                {% for pizza in pizzas %}
                  <li class="list-group-item">
                    <strong>{{ pizza["name"] }}</strong>
                    {% if not pizza["available"] %}
                      &lt;!-- "🚫" --&gt;
                      &lt;span class="fas fa-ban fa-fw" style="color: Red;"&gt;&lt;/span&gt;
                    {% endif %}
                    <ul>
                      {% for ingredient in pizza["ingredients"] %}
                        <li>{{ ingredient }}</li>
                      {% endfor %}
                    </ul>
                  </li>
                {% endfor %}
                </ul>
              {% endblock content %}
            </code></pre>
          </section>
          <section>
            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              @APP.route("/menu")
              def pizza_menu():
                  return render_template(
                      "menu.html",
                      heading="Mega Pizza-Menü",
                      pizzas=get_pizza_menu()
                  )
            </code></pre>
          </section>
          <section>
            <blockquote>
              <div><span class="fas fa-link fa-fw"></span><code>http://localhost:5000/menu</code></div>
            </blockquote>
            <iframe data-src="http://localhost:5000/menu"></iframe>
          </section>
        </section>
        <section>
          <h3>REST-API</h3>
          <section>
            <h4>Python-Importe</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              from flask import jsonify
            </code></pre>

            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              @APP.route("/api/menu", methods=["GET"])
              def pizza_menu_api():

                  return jsonify(
                      get_pizza_menu()
                  )
            </code></pre>
          </section>
          <section>
            <blockquote>
              <div><span class="fas fa-link fa-fw"></span><code>http://localhost:5000/api/menu</code></div>
            </blockquote>
            <iframe data-src="http://localhost:5000/api/menu"></iframe>
          </section>
          <section>
            <h4>Python-Importe</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              from flask import request
              from flask import url_for, redirect, abort
            </code></pre>

            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              @APP.route("/api/menu/query", methods=["GET"])
              def pizza_menu_api_query():

                  name = request.args.get("name")
                  ingredient = request.args.get("ingredient")

                  pizza_menu = get_pizza_menu()

                  results = list()

                  # [...]
            </code></pre>
          </section>
          <section>
            <h4>Python-Code</h4>
            <pre><code class="hljs language-python" data-trim data-noescape data-line-numbers>
              @APP.route("/api/menu/query", methods=["GET"])
              def pizza_menu_api_query():
                  # [...]

                  if not name and not ingredient:
                      return redirect(url_for("pizza_menu_api"))

                  for pizza in pizza_menu:
                      if name == pizza.get("name"):
                          results.append(pizza)
                      elif ingredient in pizza.get("ingredients"):
                          results.append(pizza)

                  if not results:
                      abort(404)

                  return jsonify(results)
            </code></pre>
          </section>
          <section>
            <blockquote>
              <div><span class="fas fa-link fa-fw"></span><code>http://localhost:5000/api/<br/>menu/query?ingredient=Ananas</code></div>
            </blockquote>
            <iframe data-src="http://localhost:5000/api/menu/query?ingredient=Ananas"></iframe>
          </section>
        </section>
        <section>
          <h3>Das war alles?</h3>
          <section>
            <p>Der MegaTalk beschränkte sich auf ausgewählte Grundlagen.</p>
            <p>Natürlich gibt es eine Vielzahl weiterer Features, Möglichkeiten und Anwendungsgebiete.</p>
          </section>
          <section>
            <h2>Fragen?</h2>

            <div class="fragment">
              <hr />
              <h3>Links</h3>
              <ul>
                <li><a href="https://palletsprojects.com/p/flask/">https://palletsprojects.com/p/flask/</a></li>
                <li><a href="https://flask.palletsprojects.com/">https://flask.palletsprojects.com/</a></li>
              </ul>
              <hr />
              <ul>
                <li>
                  <a href="https://schorfma.gitlab.io/megatalk-flask">http://schorfma.gitlab.io/megatalk-flask</a>
                </li>
                <li>
                  Code auf <a href="https://gitlab.com/schorfma/megatalk-flask"><span class="fab fa-gitlab fa-fw"></span>/schorfma/megatalk-flask</a>
                </li>
              </ul>
            </div>
          </section>
        </section>
			</div>
		</div>

		<script src="js/reveal.js"></script>

		<script>
			// More info about config & dependencies:
			// - https://github.com/hakimel/reveal.js#configuration
			// - https://github.com/hakimel/reveal.js#dependencies
			Reveal.initialize({
				dependencies: [
					{ src: 'plugin/markdown/marked.js' },
					{ src: 'plugin/markdown/markdown.js' },
					{ src: 'plugin/notes/notes.js', async: true },
          { src: 'plugin/highlight/highlight.js', async: true },
          // Zoom in and out with Alt+click
          { src: 'plugin/zoom-js/zoom.js', async: true }
        ],
        hash: true
			});
		</script>
	</body>
</html>
