<!doctype html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap-4.3.1.css') }}">
  <script defer src="{{ url_for('.static', filename='fontawesome-5.10.2.all.js') }}"></script>

  <title>MegaPizza</title>
</head>
<body>
  <div class="container">
    <h2>{{ heading }}</h2>
    {% block content %}

    {% endblock content %}
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="{{ url_for('.static', filename='jquery-3.3.1.slim.js') }}"></script>
  <script src="{{ url_for('.static', filename='popper-1.14.7.js') }}"></script>
  <script src="{{ url_for('.static', filename='bootstrap-4.3.1.js') }}"></script>
</body>
</html>