{% extends "base.html" %}

{% set heading = "Kontakt" %}

{% block content %}
  <dl>
    <dt>Inhaber</dt>     <dd>{{ owner }}</dd>
    <dt>Telefon-Nr.</dt> <dd>{{ phone_number }}</dd>
    <dt>Ort</dt>         <dd>{{ place }}</dd>
  </dl>
{% endblock content %}