{% extends "base.html" %}

{% block content %}
  <ul class="list-group">
  {% for pizza in pizzas %}
    <li class="list-group-item">
      <strong>{{ pizza["name"] }}</strong>
      {% if not pizza["available"] %}
        <span class="fas fa-ban fa-fw" style="color: Red;"></span>
      {% endif %}
      <ul>
        {% for ingredient in pizza["ingredients"] %}
          <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  </ul>
{% endblock content %}